push constant 0
pop local 0
push constant 1
pop local 1
push constant 0
pop local 2

push argument 0
push constant 0
eq
if-goto END_LOOP
ls
if-goto NEG

label WHILE_LOOP
push local 1
push argument 0
gt
if-goto END_LOOP
push local 0
push argument 0
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_LOOP

label NEG
push constant 1
push local 2
add
pop local 2
goto WHILE_LOOP

label END_LOOP
push constant 0
push local 2
ls
if-goto NEG_END
push local 0

label NEG_END
push local 0
neg
pop local 0
push local 0

